$pine-green: #2f4d41;
$sand-brown: #cdb996;
$light-blue: #86a5d9;
$dark-blue: #003049;
$creme: #fdf0d5;
$red: #c1121f;
$dark-red: #780000;
$white: #ffffff;
$black: #11151c;
$blackLight: #28272c;
$midnightBlue: #212d40;
$neutralLight: #cccccc;
$dark-purple: #32213a;
$green: #619b8a;
$light-green: #6a994e;
$baby-powder: #fdfffc;
$border: #efefef;
$border-active: #dadada;
$border-color-button: #2d2d2d00;
$creme: #fdf3e6;
$light-gray: #f1f1f1;
$green: #006c4c;

$btn-primary: #1a2c25;
$btn-secondary: #cdb996;

$font-family-montserrat: 'Montserrat Underline', sans-serif;
$font-family-archivo: 'Archivo Black', serif;
$font-family-rubik: 'Rubik Vinyl', sans-serif;
$font-family-lato: 'Lato', sans-serif;
$font-family-open: 'Open Sans', serif;
