@use '../../../styles/variables.scss' as vars;

.rbc-calendar {
  font-family: vars.$font-family-lato;
  font-size: 12px;
}
Ï .rbc-toolbar {
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
}

.rbc-toolbar-label {
  font-size: 12px;
  font-weight: 600;
  margin: 0 10px;
}

.rbc-time-header {
  display: none;
}

.rbc-btn-group {
  font-size: 12px;
  button {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0 5px;
  }
}

.rbc-show-more {
  color: vars.$black;
}

.rbc-event-content {
  font-size: 12px;
  font-weight: 500;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: vars.$pine-green;
  border: 1px solid vars.$black;
  &:hover {
    opacity: 0.96;
  }
}
.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: vars.$pine-green;
  border: 1px solid vars.$black;
}

.rbc-event {
  &.rbc-selected {
    background-color: #16875a;
    border: 1px solid vars.$white;
  }
}
.rbc-time-slot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rbc-selected {
  background-color: #16875a;
  border: 1px solid vars.$white;
}

.modal {
  background: vars.$white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 11000;
  display: flex;
  width: 400px;
  flex-direction: column;
  height: 400px;
}
.rbc-day-bg {
  background: rgb(205, 185, 150);
  background: radial-gradient(
    circle,
    rgba(205, 185, 150, 0.19653799019607843) 53%,
    rgba(205, 193, 172, 0.2133447128851541) 100%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1999;
}

// button {
//   margin: 5px;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   background-color: vars.$pine-green;
//   color: vars.$white;
//   &:hover {
//     // background-color: darken(vars.$pine-green, 10%);
//   }
// }
